<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有问题,请联系管理员</title>
    <style>
        body {
            background-image: url("/static/img/bg.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>

<div style="text-align: center; vertical-align: middle">
    <h1>
        <b>
            有问题请联系管理员
        </b>
    </h1>
    <img height=100% src="/static/img/contact_me.jpg" alt="联系管理员请添加微信号:shanaisum">
</div>


</body>
</html>