<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="iPhone6s plus金色64G港版 二手，上闲鱼.淘宝二手，担保交易，先行赔付，假一赔三，七天无理由退换货，让你全面安心购物。"/>
    <meta name="keywords" content="iPhone6s plus金色64G港版 - 闲鱼.淘宝二手"/>
    <meta name="spm-id" content="2007.1000338"/>
    <title>iPhone6s plus&#37329;&#33394;64G&#28207;&#29256; - 闲鱼.淘宝二手 </title>
    {#    <script>window.g_config = {appId: 1007, toolbar: false};</script>#}


    <!-- start idle vmcommon assets 4.0-->
    <link rel="shortcut icon" type="image/x-icon" href="//www.taobao.com/favicon.ico"/>
    <link rel="search" type="application/opensearchdescription+xml"
          href="//assets.alicdn.com/plugins/opensearch/provider.xml" title="淘宝购物"/>
    <!-- S GLOBAL CSS -->
    <link rel="stylesheet" href="//g.alicdn.com/tb/global/3.5.34/global-min.css">
    <!-- S GLOBAL CSS -->
    <link rel="stylesheet"
          href="//g.alicdn.com/mtb/app-idle-pc/1.7.10/??common/base-min.css,widget/header5/index-min.css,widget/footer5/index-min.css,pages/detail/page/detail-min.css">
    <!-- S GLOBAL JS -->
    {#    <script src="//g.alicdn.com/??kissy/k/1.3.0/kissy-min.js,tb/global/3.5.34/global-min.js"></script>#}
    <!-- E GLOBAL JS -->
    {#    <script src="//g.alicdn.com/mtb/app-idle-pc/1.7.10/common/??package-config-min.js,global-min.js"></script>#}
    <style>
        .site-nav-menu{
            display: inline-block;
            margin: 10px 10px 0 20px;
        }
        {#.dbjy  {#}
        {#    line-height: 20px;#}
        {#}#}

    </style>
    <!-- end idle vmcommon assets 4.0-->
</head>
<body>


{#		<script>(function(){var a=document.body;window.screen.width>1024?a.className="w1190":a.className="w990"})();</script>#}


<!-- S GLOBAL HTML -->


{#<div id="J_SiteNav" class="site-nav">#}
{##}
{##}
{##}
{#  <div id="J_SiteNavBd" class="site-nav-bd">#}
{#    <ul id="J_SiteNavBdL" class="site-nav-bd-l"></ul>#}
{#    <ul id="J_SiteNavBdR" class="site-nav-bd-r"></ul>#}
{#  </div>#}
{#</div>#}
<!-- E GLOBAL HTML -->

{#<script>#}
{#TB.Global.init();#}
{#ABC.config({#}
{#    pageName: 'detail',#}
{#    pub: '1.7.10',#}
{#    path: '//g.alicdn.com/mtb/app-idle-pc/',#}
{#    charset: 'utf-8'#}
{#});#}
{#SecondHand.current = 'detail';#}
{#</script>#}


<div id="J_SiteNav" class="site-nav">
    <div class="site-nav-bd" id="J_SiteNavBd">
        <ul class="site-nav-bd-l" id="J_SiteNavBdL" data-spm-ab="1" >


            <li class="site-nav-menu site-nav-login" id="login" data-name="login" data-spm="754894437" >
                <div class="site-nav-menu-hd" >
                    <a href="" target="_top">

                        <span>亲，请登录</span>
                    </a>

                </div>

            </li>

            <li class="site-nav-menu site-nav-login" id="register" data-name="login" data-spm="754894437" style="display: inline-block">
                <div class="site-nav-menu-hd" >
                    <a href="" target="_top">

                        <span>免费注册</span>
                    </a>

                </div>

            </li>

        </ul>

        <ul class="site-nav-bd-r" id="J_SiteNavBdR" data-spm-ab="2" >
            <li class="site-nav-menu site-nav-home" id="J_SiteNavHome" data-name="home" data-spm="1581860521">
                <div class="site-nav-menu-hd">
                    <a href="" target="_top">

                        <span>咸鱼首页</span>
                    </a>

                </div>

            </li>


            <li class="site-nav-menu site-nav-mytaobao site-nav-multi-menu J_MultiMenu" id="J_SiteNavMytaobao"
                data-name="mytaobao" data-spm="1997525045">
                <div class="site-nav-menu-hd">
                    <a href="" target="_top">

                        <span>我的咸鱼</span>
                    </a>

                </div>

            </li>


            <li class="site-nav-menu site-nav-favor site-nav-multi-menu J_MultiMenu" id="J_SiteNavFavor"
                data-name="favor" data-spm="1997525053">
                <div class="site-nav-menu-hd">
                    <a href="" target="_top">
                        <span>收藏夹</span>
                    </a>


                </div>

            </li>


            <li class="site-nav-menu site-nav-service site-nav-multi-menu J_MultiMenu" id="J_SiteNavService"
                data-name="service" data-spm="754895749">
                <div class="site-nav-menu-hd">
                    <a href="" target="_top">

                        <span>联系客服</span>
                    </a>

                </div>

            </li>

        </ul>

    </div>
</div>


<div class="idle-header-wrap">
    <div class="idle-header" id="J_IdleHeader">
        <h1 class="idle-logo"><a href="http://2.taobao.com" target="_top"><img
                src="//img.alicdn.com/tps/i3/TB1ys1sHVXXXXcrXVXXL_ZfHFXX-208-46.png" alt="闲鱼" width="208" height="46"/></a>
        </h1>

        <div class="idle-nav">
            <div class="idle-menu">
                <ul>
                    <li class="m-home"><a href="//2.taobao.com/">首页</a></li>
                </ul>
            </div>

            <div class="idle-manage">
                <span class="idle-manage-sp">|</span>
                <ul>
                    <li><a class="pub-overlay-btn">发布闲置</a></li>
                    <li id="J_IdleLi" class="my-idle-li">
                        <a class="my-idle-link" id="J_IdleLink" href="//trade.2.taobao.com">我的闲置<i
                                class="iconfont icon-down">&#xe601;</i><i class="iconfont icon-up">&#xe600;</i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="idle-search">-->
        <!--  <form method="get" action="//s.2.taobao.com/list/list.htm" name="search" target="_top">-->
        <!--    <input class="input-search" id="J_HeaderSearchQuery" name="q" type="text" value="" placeholder="搜闲鱼" />-->
        <!--    <input type="hidden" name="search_type" value="item" autocomplete="off" />-->
        <!--    <input type="hidden" name="app" value="shopsearch" autocomplete="off" />-->
        <!--    <button class="btn-search" type="submit"><i class="iconfont">&#xe602;</i><span class="search-img"></span></button>-->
        <!--  </form>-->
        <!--</div>-->
    </div>
</div>

{#<script>#}
{#    KISSY.use('widget/header5/index');#}
{#</script>#}


<div id="content">
    <div id="page">
        <div id="idle-detail" data-token="ee3eee76e7e05">
            <div class="top-nav clearfix">
                <div class="others-wrap">
                    <ul class="others clearfix">

                        <li id="J_Browse"
                            data-url="//count.taobao.com/counter3?keys=ICVT_7_589688513552&amp;inc=ICVT_7_589688513552&amp;sign=9800450bd05110cbbd5419dded007be6a99b1"
                            data-key="ICVT_7_589688513552">
                            <h5>宝贝浏览次数</h5>
                            <span>加载中...</span>
                        </li>
                        <li><h5>最近编辑</h5><span>2019-04-03 08:46</span></li>
                        <li class="tn-item-from"><a target="_blank" href="//www.taobao.com/market/2/new-fish.php"><h5>
                            来自</h5>
                            <p class="tn-item-icon"></p></a></li>
                    </ul>
                </div>
                <div class="seller-info" id="J_SellerInfo"
                     data-url="//2.taobao.com/itemref/trade_ratting.htm?uid=IPmvYvGxLMkPHMmvyPGZHvGPzvGQYvCH4Pk8yPmPeMCQT">
                    <div class="simple" data-spm="2007.1000338.1">
                        <div class="avatar"><img
                                src="//wwc.alicdn.com/avatar/getAvatar.do?userNick=y盈科数码&width=30&height=30&type=sns">
                        </div>
                        <div class="wangwang">
                            <a href="//2.taobao.com/credit/credit.htm?userIdCode=IPmvYvGxLMkPHMmvyPGZHvGPzvGQYvCH4Pk8yPmPeMCQT"
                               class="hCard fn" target="_blank">y盈科数码</a>
                        </div>
                        <div class="user-icons">
                            <span title="已通过实名认证" class="user-verify"></span>
                            <span title="vip0" class="vip-level  vip-level0" rel="nofollow"></span>
                        </div>
                        <b class="arrow-wrap"><i class="arrow"></i></b>
                    </div>
                    <div class="details"></div>
                    <textarea id="J_SellerTPL" class="hidden" data-spm="2007.1000338.2">
            <div class="basic-info">
                <p> 男</p>
                <p>注册时间：2011-02-25</p>
            </div>
            <div class="seller-rate">
                <h4>转卖<strong> {soldCount} </strong>笔，<strong> {rateCount} </strong>人评价</h4>
                <ul class="parameter">
                    <li><span>靠谱度：</span><strong class="high">{kpdValue}</strong> 分<span class="high">&nbsp;&nbsp;{kpdDesc}</span></li>
                    <li><span>性价比：</span><strong class="high">{xjbValue}</strong> 分<span class="high">&nbsp;&nbsp;{xjbDesc}</span></li>
                </ul>
            </div>
            <div class="check-more">
                <a class="check-info"
                   href="//2.taobao.com/credit/credit.htm?userIdCode=IPmvYvGxLMkPHMmvyPGZHvGPzvGQYvCH4Pk8yPmPeMCQT"
                   target="_blank">查看卖家信息</a>
                <b class="arrow-wrap"><i class="arrow"></i></b>
            </div>
        </textarea>
                </div>
                <div>
                    <a href="//110.alibaba.com/report/commodity_route.htm?901001=589688513552&from_source=tb"
                       data-id="589688513552" target="_blank" class="inform">举报该宝贝</a>
                </div>
            </div>
            <div class="layout grid-s730m0">
                <div class="col-main">
                    <div class="main-wrap">
                        <div class="property" id="J_Property">
                            <h1 class="title">iPhone6s plus金色64G港版</h1>
                            <ul class="price-info">
                                <li class="price-block">
                                    <span class="para">转&nbsp;&nbsp;卖&nbsp;&nbsp;价：</span>
                                    <span class="price big"><b>&yen;</b><em>1280.00</em></span>
                                    <span class="bargain-tip">
                        <i class="i-tip"></i>该商品拒绝讲价！
                    </span>
                                </li>
                            </ul>
                            <ul class="idle-info" data-spm="2007.1000338.3">
                                <li>
                                    <span class="para">成　　色：</span>
                                    <em>非全新</em>
                                </li>
                                <li>
                                    <span class="para">所&nbsp;&nbsp;在&nbsp;&nbsp;地：</span>
                                    <em>广东广州 荔湾区</em>
                                </li>
                                <li class="contact">
                                    <span class="para">联系方式：</span>
                                    <div style="display:none">
                                        <span class="J_WangWang" data-nick="y盈科数码" data-icon="large"></span>
                                    </div>
                                </li>
                                <li class="trade-terms" id="J_TradeWrap">
                                    <span class="para">交易方式：</span>
                                    <a href="#"><span data-term="0" class="J_Term term">在线交易</em></em></span><i></i></a>
                                <li id="J_Freight" class="freight">
                                    <a id="J_Region" class="region" href="#" data-default="310000">
                                        至 <em id="J_RegionName">上海</em><i></i>
                                    </a>
                                    <span id="J_Carriage" class="fee"
                                          data-url="//adpmanager.taobao.com/detail/delivery_detail.do?itemId=589688513552">运费：<em
                                            class="rmb">&yen;</em><span id="J_Fee">加载中...</span></span>
                                </li>
                                </li>
                            </ul>
                            <div class="buy-now" data-spm="2007.1000338.4">
                                <a id="J_BuyNow"
                                   data-url="//buy.2.taobao.com/buy/buy.htm?from=itemDetail&amp;x_id=&amp;id=589688513552&amp;item_id=589688513552"
                                   class="btn" href="#">立刻购买</a>
                            </div>
                            <form id="J_FrmBid" action="//buy.2.taobao.com/buy/buy_now.jhtml" method="post">
                                <input type="hidden" id="J_ItemNumId" name="item_num_id" value="589688513552"/>
                                <input type="hidden" id="J_TradeTermInput" name="idle_trade_style"/>
                                <input type="hidden" name="item_id_num" value="589688513552"/>
                                <input type="hidden" name="item_id" value="589688513552"/>
                                <input type="hidden" name="auction_id" value="589688513552"/>
                                <input type="hidden" name="auction_type" value="b"/>
                                <input type="hidden" name="title" value="iPhone6s plus金色64G港版"/>
                                <input type="hidden" name="seller_id"
                                       value="IPmvYvGxLMkPHMmvyPGZHvGPzvGQYvCH4Pk8yPmPeMCQT"/>
                                <input type="hidden" name="allow_quantity" value="1"/>
                                <input type="hidden" name="seller_nickname" value=""/>
                                <input type="hidden" name="from" value="idleDetail"/>
                                <input type="hidden" name="current_price" value="1280.00"/>
                                <input type="hidden" name="buy_now" value=""/>
                                <input type="hidden" name="photo_url" value=""/>
                                <input type="hidden" name="quantity" value="1"/>
                                <input type='hidden' name='_tb_token_' value='ee3eee76e7e05'>
                            </form>

                            <div id="J_BargainContent" class="hidden">
                                <div class="hd">议价</div>
                                <div class="bd">
                                    <p class="tip">议价有效期为24小时，如果卖家同意您的出价，系统将自动创建订单并短信通知您。</p>
                                    <div class="control-group">
                                        <label for="price" class="control-label">诚心以：</label>
                                        <div class="controls">
                                            <input id="price" type="text" name="price" class="input"> 元（不含运费）的价格入手该宝贝
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="phone" class="control-label">手机号：</label>
                                        <div class="controls">
                                            <input id="phone" type="text" name="phone" class="input">
                                            <span>请留下手机号，方便订单生成后及时通知您</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="message" class="control-label">诚心以：</label>
                                        <div class="controls">
                                            <textarea name="" id="message"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-more clearfix" data-spm="2007.1000338.5">
                                <div class="share" id="J_Share"
                                     data-comment="矮油，不错哦！在淘宝二手发现个挺靠谱的闲置宝贝，只卖1280.00元。你们帮我参谋参谋，如何？"
                                     data-url="//count.taobao.com/counter3?keys=DFX_200_1_589688513552"
                                     data-count="//2.taobao.com/activity/grantPoints.htm?type=1&_tb_token_=ee3eee76e7e05"
                                     data-key="DFX_200_1_589688513552">
                                    <a class="btn" href="#">分享（<em class="J_ShareCount">0</em>）</a>
                                </div>
                                <div class="favorite" data-url="//count.taobao.com/counter3?keys=ICCP_1_589688513552"
                                     data-key="ICCP_1_589688513552">
                                    <a class="btn" id="J_AddFav"
                                       data-url="//trade.2.taobao.com/care_item.htm?id=589688513552&_tb_token_=ee3eee76e7e05"
                                       href="javascript:void(0);">赞（<em>0</em>）</a>
                                </div>
                            </div>
                            <div class="guarantee_new">
                                <div class="dbjy">
                                    <span class="tit"></span>
                                    <strong class="desc" >由支付宝先行保管,验货OK再付款到卖家账户。</strong>
                                </div>
                                <div class="smrz">
                                    <span class="tit"></span>
                                    <strong class="desc">经支付宝核实会员身份和银行账户信息,真实可靠。</strong>
                                </div>
                            </div>
                        </div>
                        <div id="J_OtherIdles" data-spm="2007.1000338.6" class="idle-box other-idles"
                             data-url="//2.taobao.com/itemref/more_onsale.htm?userNick=y%D3%AF%BF%C6%CA%FD%C2%EB&id=589688513552">
                            <h4>卖家的其它闲置<span class="total"></span></h4>
                            <a href="//s.2.taobao.com/list/list.htm?usernick=y盈科数码" target="_blank" class="more">更多</a>
                            <div class="entity loading"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sub">

                    <div id="J_Slider" class="slider" data-spm="2007.1000338.7">

{#                        用来展示商品的图片,可以用循环实现#}
                        <ul class="album">


                            <li class="item sh-pic">

                                <a href="javascript:void(0);">

                                    <img class="big-img" src="//assets.alicdn.com/p/fp/2011a/assets/space.gif"
                                         lazyload-img="//img.alicdn.com/bao/uploaded/i1/O1CN014RCMQB1ToWYJIwStC_!!0-fleamarket.jpg_728x728.jpg"/>

                                    <div class='mau-guide'>
                                        <img class='guide-img'
                                             src='//gw.alicdn.com/tps/TB1t7jmLpXXXXbGXVXXXXXXXXXX-480-340.png'/>
                                        <img class='close-img'
                                             src='//gw.alicdn.com/tps/TB1d6OhMVXXXXbSXXXXXXXXXXXX-32-32.png'/>
                                    </div>

                                </a>


                            </li>


                            <li class="item sh-pic">

                                <a href="javascript:void(0);">

                                    <img class="big-img" src="//assets.alicdn.com/p/fp/2011a/assets/space.gif"
                                         lazyload-img="//img.alicdn.com/bao/uploaded/i3/O1CN01cIC00r25ak26PBX37_!!0-fleamarket.jpg_728x728.jpg"/>


                                </a>


                            </li>


                            <li class="item sh-pic">

                                <a href="javascript:void(0);">

                                    <img class="big-img" src="//assets.alicdn.com/p/fp/2011a/assets/space.gif"
                                         lazyload-img="//img.alicdn.com/bao/uploaded/i2/O1CN017NLpfj1I9nYoKRZbW_!!0-fleamarket.jpg_728x728.jpg"/>


                                </a>


                            </li>


                            <li class="item sh-pic">

                                <a href="javascript:void(0);">

                                    <img class="big-img" src="//assets.alicdn.com/p/fp/2011a/assets/space.gif"
                                         lazyload-img="//img.alicdn.com/bao/uploaded/i3/O1CN01XE7sAd29sq96yLJlZ_!!0-fleamarket.jpg_728x728.jpg"/>


                                </a>


                            </li>


                            <li class="item sh-pic">

                                <a href="javascript:void(0);">

                                    <img class="big-img" src="//assets.alicdn.com/p/fp/2011a/assets/space.gif"
                                         lazyload-img="//img.alicdn.com/bao/uploaded/i3/O1CN01Hl2gfL1JLXKIljaXM_!!0-fleamarket.jpg_728x728.jpg"/>


                                </a>


                            </li>


                            <li class="item sh-pic">

                                <a href="javascript:void(0);">

                                    <img class="big-img" src="//assets.alicdn.com/p/fp/2011a/assets/space.gif"
                                         lazyload-img="//img.alicdn.com/bao/uploaded/i3/O1CN01Whf7nf1s01GwwlvY9_!!0-fleamarket.jpg_728x728.jpg"/>


                                </a>


                            </li>


                        </ul>


                        <div id="J_Thumbs" class="thumbs-wrapper">

                            <div class="thumb-list">

                                <ul class="thumbs clearfix">


                                    <li class="sh-pic selected">

                                        <a href="javascript:void(0);">

                                            <img class="small-img"
                                                 src="//img.alicdn.com/bao/uploaded/i1/O1CN014RCMQB1ToWYJIwStC_!!0-fleamarket.jpg_80x60.jpg"/>

                                        </a>

                                    </li>


                                    <li class="sh-pic ">

                                        <a href="javascript:void(0);">

                                            <img class="small-img"
                                                 src="//img.alicdn.com/bao/uploaded/i3/O1CN01cIC00r25ak26PBX37_!!0-fleamarket.jpg_80x60.jpg"/>

                                        </a>

                                    </li>


                                    <li class="sh-pic ">

                                        <a href="javascript:void(0);">

                                            <img class="small-img"
                                                 src="//img.alicdn.com/bao/uploaded/i2/O1CN017NLpfj1I9nYoKRZbW_!!0-fleamarket.jpg_80x60.jpg"/>

                                        </a>

                                    </li>


                                    <li class="sh-pic ">

                                        <a href="javascript:void(0);">

                                            <img class="small-img"
                                                 src="//img.alicdn.com/bao/uploaded/i3/O1CN01XE7sAd29sq96yLJlZ_!!0-fleamarket.jpg_80x60.jpg"/>

                                        </a>

                                    </li>


                                    <li class="sh-pic ">

                                        <a href="javascript:void(0);">

                                            <img class="small-img"
                                                 src="//img.alicdn.com/bao/uploaded/i3/O1CN01Hl2gfL1JLXKIljaXM_!!0-fleamarket.jpg_80x60.jpg"/>

                                        </a>

                                    </li>


                                    <li class="sh-pic ">

                                        <a href="javascript:void(0);">

                                            <img class="small-img"
                                                 src="//img.alicdn.com/bao/uploaded/i3/O1CN01Whf7nf1s01GwwlvY9_!!0-fleamarket.jpg_80x60.jpg"/>

                                        </a>

                                    </li>


                                </ul>

                            </div>

                        </div>


                    </div>

                    <div id="J_IdleDesc" class="idle-desc">

                        <div id="J_ItemTab">

                            <div class="list-tabs" data-spm="2007.1000338.8">

                                <ul>

                                    <li class="J_TabTrigger tabnavfirst actived"><a href="#desc-intro">宝贝介绍</a></li>


                                    <!--li class="J_TabTrigger" id="J_MSCount" data-key="101_589688513552" data-url="//comment.jianghu.taobao.com/json/commentCount.htm?keys=101_589688513552">

                                        <a href="#message" id="messages" name="messages">留言（<span>0</span>）</a>

                                    </li-->

                                    <li class="J_TabTrigger">

                                        <a href="#message" id="messages" name="messages">留言</a>

                                    </li>

                                    <li class="J_TabTrigger"><a href="#guarantee">安全保障</a></li>

                                </ul>

                            </div>

                        </div>

                        <div class="security-tip">

                            如遇到以下情况可能是诈骗行为：<span class="h">1.宝贝价格异常低；</span><span class="h">2.卖家要求QQ沟通；</span><span
                                class="h">3.卖家要求直接汇款。</span>

                            <a href="//bangpai.taobao.com/group/thread/92194-270443602.htm?tracelog=jiankong-idledetail"
                               target="_blank">寻求防骗经验</a>。

                        </div>


                        <div id="desc-intro" class="J_Panel desc-mod desc-intro">

                            <h2><b>宝贝介绍</b></h2>


                            <div class="intro-para clearfix">


                                <ul>


                                </ul>

                                <ul>


                                    <li>

                                        <span class="title">品牌</span>

                                        <span>other/其他</span>

                                    </li>


                                </ul>

                            </div>


                            <div data-url="//osdsc.alicdn.com/i4/581/681/589688513552/TB1q3ixOkPoK1RjSZKb8qt1IXla.desc%7Cvar%5Edesc%3Bsign%5Eb2bffa42a3e06dd05a384fb462933f3d%3Blang%5Egbk%3Bt%5E1554252401"
                                 class="describe" id="J_DescContent">


                                描述加载中，请稍候...


                            </div>


                        </div>


                        <div id="message" class="J_Panel desc-mod message" data-spm="2007.1000338.11">

                            <h2><b>留言</b></h2>

                            <div id="J_Message" data-targetkey="589688513552"
                                 data-recuserid="IPmvYvGxLMkPHMmvyPGZHvGPzvGQYvCH4Pk8yPmPeMCQT"
                                 data-title="iPhone6s plus金色64G港版"></div>

                            <input id="J_Token" type='hidden' name='_tb_token_' value='ee3eee76e7e05'>

                        </div>

                        <div id="guarantee" class="J_Panel desc-mod guarantee">
                            <h2><b>安全保障</b></h2>
                            <h3 class="title">二手交易消费者安全保障服务</h3>
                            <ul>
                                <li class="first">
                                    <b class="icon"></b>
                                    <div class="intro">
                                        <h4>卖家实名认证</h4>
                                        <p>淘宝二手卖家必备网络身份证；<br>经支付宝核实会员身份信息和银行账户信息。</p>
                                    </div>
                                    <b class="arrow"></b>
                                    <div class="addon">真实.可靠.网络身份证</div>
                                </li>
                                <li class="second">
                                    <b class="icon"></b>
                                    <div class="intro">
                                        <h4>专业团队支撑</h4>
                                        <p>发现可疑卖家或商品，发起举报，由安全部门专员介入处理交易出现纠纷，双方协商不成，由专业的客服小二介入仲裁。</p>
                                    </div>
                                    <b class="arrow"></b>
                                    <div class="addon">专业.精英.全方位支持</div>
                                </li>
                                <li class="third">
                                    <b class="icon"></b>
                                    <div class="intro">
                                        <h4>支付宝担保交易</h4>
                                        <p>支付款项由支付宝先行保管，验货OK后，再确认付款到卖家账户，买家发起交易，杜绝钓鱼网站。</p>
                                    </div>
                                    <b class="arrow"></b>
                                    <div class="addon">收货.验货.满意再付款</div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="J_SideBar" class="sidebar">
    <div id="J_GoTop" class="scroll-top">
        <a href="javascript:void(0);"><span>返回顶部</span></a>
    </div>
    <a id="J_Advice" class="advice-sidebar" href="//ur.taobao.com/survey/view.htm?id=891" target="_blank">建议反馈</a>
</div>
{#<script type="text/javascript">#}
{#    KISSY.config({combine: true});#}
{#    KISSY.use('page/detail');#}
{#</script>#}
{#<script src='//w.cnzz.com/c.php?id=30058279' language='JavaScript'></script>#}
<!--
<div class="sh-footer" data-spm="2007.1000261.99">

<div class="logo-wrapper">
<div class="logo">淘宝二手</div>
</div>
<div class="qualifications">
<div class="icon auth">卖家实名认证</div>
<div class="icon alipay">支付宝担保交易</div>
<div class="icon group">专业团队支撑</div>
<div class="icon weibo">官方微博</div>
<a href="//trade.2.taobao.com/recycle/index.htm" target="_blank"><div class="icon recyclers">回收商入驻</div></a>
</div>

</div>
-->
{#<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");#}
{#document.write(unescape("%3Cspan id='cnzz_stat_icon_1252911424'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1252911424' type='text/javascript'%3E%3C/script%3E"));</script>#}

<!--token-->
<input id="J_tb_Token" type='hidden' name='_tb_token_' value='ee3eee76e7e05'>

<div class="idle-footer" id="J_IdleFooter">
    <div class="idle-footer-info">
        <div class="idle-footer-download">
            <span class="idle-footer-slogan"><img src="//img.alicdn.com/tps/i3/TB1naO0IFXXXXXsXFXXIU.iNXXX-332-76.png"
                                                  alt="闲置能换钱" width="299"></span>
            <a href="https://itunes.apple.com/cn/app/tao-bao-tiao-zao-jie-qing/id510909506" target="_blank"
               class="idle-download-ios"><img src="//img.alicdn.com/tps/i4/TB1VO4WHVXXXXcKXFXXfBBiHXXX-200-62.png"
                                              alt="闲鱼ios客户端下载" width="200" height="62"></a>
            <a href="#nogo" target="_self" class="idle-download-android"><img
                    src="//img.alicdn.com/tps/i2/TB1aOKTHVXXXXXdXpXXfBBiHXXX-200-62.png" alt="闲鱼android客户端下载"
                    width="200" height="62"></a>
            <span class="idle-qrcode"><img src="//img.alicdn.com/tps/i1/TB1nbl3HVXXXXaKXFXX07tlTXXX-200-200.png"
                                           alt="闲鱼" width="130" height="130"></span>
        </div>
        <div class="idle-footer-links">
            <div class="idle-footer-links-box">
                <a href="#nogo" target="_self" class="idle-footer-link-auth">卖家实名认证</a>
                <a href="#nogo" target="_self" class="idle-footer-link-alipay">支付宝担保交易</a>
                <a href="#nogo" target="_self" class="idle-footer-link-team">专业团队支撑</a>
                <a href="http://weibo.com/taoershou" class="idle-footer-link-weibo">官方微博</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>